@font-face {
  font-family: "Open Sans";
  src: url("../public/assets/fonts/opensans-variablefont_wdthwght-webfont.woff2")
  format('woff2'),
  url("../public/assets/fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}